In [2]:
from ctgan import CTGAN
import pandas as pd

In [3]:
seed_data = pd.read_csv("data/pp_sample_ipu.csv")
seed_data = seed_data.drop(columns=["serialno", "sample_geog"])

In [4]:
# Names of the columns that are discrete
discrete_columns = seed_data.columns.to_list()

ctgan = CTGAN(epochs=1000)
ctgan.fit(seed_data, discrete_columns)
syn_pop = ctgan.sample(6305666)

In [ ]:
syn_pop.to_csv("output/pp_synthetic_ctgan.csv", index=False)

In [ ]:
# marginals = pd.read_csv(r"C:\Users\dlaa0001\Documents\PhD\PopSyn_Monash\PopSynthesis\Methods\GAN\data\hh_marginals_ipu.csv", header=[0,1])

In [ ]:
# marginals = marginals.set_index(marginals.columns[0])
# marginals = marginals.drop(columns=marginals.columns[0])
# marginals

                              hhsize                                   \
                                   1     2     3    4    5   6  7  8+
(zone_id, Unnamed: 0_level_1)
3000                           10393  8524  2026  656  118  27  4  58
3002                            1035  1019   190  101   38   9  0  55
3003                            1504  1591   476  223   40  11  7  55
3004                            2566  2382   511  227   33   6  5  55
3006                            5113  5033  1280  414   59  13  8  58
...                              ...   ...   ...  ...  ...  .. ..  ..
3990                               6    20     8    4    3   0  0  55
3991                              37    65    16   19   10   9  0  55
3992                             134   201    72   60   24   9  0  55
3995                            1663  1834   629  451  228  73  8  58
3996                             806  1176   251  299  137  31  6  59

                                      dwelltype          ...      hhinc  \
                              Flat or Apartment Missing  ... Nil income
(zone_id, Unnamed: 0_level_1)                            ...
3000                                      21548     133  ...       1906
3002                                       1888      10  ...         42
3003                                       3163       2  ...        158
3004                                       5739      30  ...        172
3006                                      11783      34  ...        431
...                                         ...     ...  ...        ...
3990                                          0       0  ...          5
3991                                          0       0  ...          9
3992                                          0       0  ...          8
3995                                         27       6  ...         87
3996                                         17       4  ...         54

                              totalvehs                              owndwell  \
                                      0     1     2    3   4+ Being Purchased
(zone_id, Unnamed: 0_level_1)
3000                              14682  5463   846  412  403            2446
3002                                468  1267   553   91   68             436
3003                               1391  1942   422   95   57             797
3004                               1228  3429   872  162   94            1206
3006                               4720  5867  1037  200  154            2139
...                                 ...   ...   ...  ...  ...             ...
3990                                  8    13    22   25   28              16
3991                                 24    51    62   44   30              51
3992                                 12   153   218   93   79             229
3995                                379  1955  1685  584  341            1326
3996                                 91  1060  1178  299  137             691


                              Being Rented Fully Owned Something Else
(zone_id, Unnamed: 0_level_1)
3000                                 16601        2291            468
3002                                  1292         677             42
3003                                  2548         463             99
3004                                  3214        1268             97
3006                                  8093        1533            213
...                                    ...         ...            ...
3990                                     0          22             58
3991                                    17          67             76
3992                                    55         192             79
3995                                  1150        2316            152
3996                                   494        1523             57

[691 rows x 44 columns]

In [ ]:
# totals = marginals.sum(axis=1)/5

In [ ]:
# store_pop = []
# for zone, tot in zip(totals.index, totals):
#     syn_pop = ctgan.sample(int(tot))
#     syn_pop["zone_id"] = zone
#     store_pop.append(syn_pop)
# final_pop = pd.concat(store_pop)

In [ ]:
final_pop["hhinc"].unique()

['1750-1999', '6000-7999', '150-299', '1000-1249', '4500-4999', ..., '3000-3499', '4000-4499', '8000+', '5000-5999', '1-149']
Length: 21
Categories (22, object): ['1000-1249', '1500-1749', '1750-1999', '2500-2999', ..., '6000-7999', '8000+', 'Nil income', 'Negative income']

In [ ]:
# final_pop.to_csv(r"C:\Users\dlaa0001\Documents\PhD\PopSyn_Monash\PopSynthesis\Methods\CTGAN\output\hh_synthetic_ctgan.csv", index=False)